@{
    ViewBag.Title = "Contact";
}

    <div class="jumbotron container">
        <div class="col-lg-4">
            <h3>Contact Numbers</h3>
            <a class="btn btn-primary rsv-call-btn rsv-call-text" href="tel:+63823335157">
                <strong>LandLine:</strong> (+63) 82 333 5157
            </a><br />
            <a class="btn btn-primary rsv-call-btn rsv-call-text" href="tel:+639193812657">
                <strong>Smart:</strong> (+63) 919-381-2657
            </a><br />
            <a class="btn btn-primary rsv-call-btn rsv-call-text" href="tel:+639954508517">
                <strong>Globe:</strong> (+63) 995-450-8517
            </a><br />
            <a class="btn btn-primary rsv-call-btn rsv-call-text" href="viber://chat?number=09954508517">
                <strong>Viber:</strong> [0995-450-8517]
            </a><br />
            <a class="btn btn-primary rsv-call-btn rsv-call-text" href="mailto:inquiries.realwheels@gmail.com">
                <strong>Email:</strong> inquiries.realwheels@gmail.com
            </a><br />
        </div>
        <div class="col-lg-8">
            <h3> Find Us: </h3>
            <img src="~/Images/CarRental/maps/RealBreeze_Location.png" width="600" style="border:5px solid White;" />
            <hr />
            <p>

                Address:
                <b>
                    Door 1, Travelers Inn Bldg.,Mating Pangi Rd., Matina Crossing, Davao City
                </b>
            </p>
        </div>
    </div>
