@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron">
    <h3>Contact Numbers</h3>

    @*<a class="btn btn-primary rsv-call-btn rsv-call-text" href="tel:+63822971831">
        <strong>LandLine:</strong> (+63) 82 297 1831
    </a><br />*@
    <a class="btn btn-primary rsv-call-btn rsv-call-text" href="tel:+639193812657">
        <strong>Smart:</strong> (+63) 919-381-2657
    </a><br />
    <a class="btn btn-primary rsv-call-btn rsv-call-text" href="tel:+639954508517">
        <strong>Globe:</strong> (+63) 995-450-8517
    </a><br />
    <a class="btn btn-primary rsv-call-btn rsv-call-text" href="viber://chat?number=09954508517">
        <strong>Viber:</strong> [0995-450-8517]
    </a><br />
    <a class="btn btn-primary rsv-call-btn rsv-call-text" href="mailto:inquiries.realwheels@gmail.com">
        <strong>Email:</strong> inquiries.realwheels@gmail.com
    </a><br />
    <address>
        Address:
        <b>
            Door 1, Travelers Inn Bldg., Matina Crossing, Matina, Davao City
        </b>
    </address>
</div>
