@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Davao Car Rental Hub</h1>

    <h2><span class="badge">Featured</span></h2>
    <div class="container ">
        <div class="col-lg-4 col-xs-10 ads-listing-side">
            <img class="img-responsive ads-desc-img-box ads-listing-item" src="~/Images/CarRental/CarViews/FordEverest/Ford-Everest.png" width="250"/>
        </div>
        <div class="col-lg-6 col-xs-10 ads-listing-side">
            Specification:
            <p>
                7 Seater SUV - comfortable ride. Latest Model. Very cold aircon.
            </p>

            @*<a href="" style="color:red;background-color:yellow;">
                 BOOK NOW!
              </a>*@

            <a class="btn btn-warning" href="https://realwheelsdavao.com/OnlineReservations/Form?tourCode=CR-SUV-19">
                BOOK NOW!
            </a>

            <br />
            <a class="btn btn-default" style="margin-bottom:5px;" href="tel:+63 926-733-5449"> Call Us: +63 926-733-5449 </a>
            <a class="btn btn-default" style="margin-bottom:5px;" href="tel:+63 926-733-5449"> Land line: (82) 333-5157 </a>
        </div>
    </div>
</div>


<div class="container">
    <h3><span class="badge">Latest Offers</span></h3>

    <a href="~/ads/toyota-rush">
        <img src="~/Images/CarRental/CarViews/ToyotaRush/Toyota-Rush.png" class="img-thumbnail ads-listing-img" title="Toyota Rush 2019" alt="Toyota Rush" />
    </a>
    <a href="~/ads/toyota-innova-2019">
        <img src="~/Images/CarRental/CarViews/innova2019/Toyota-Innova-2019.png" class="img-thumbnail ads-listing-img" title="Toyota Innova 2019" />
    </a>

    @*
        <img src="~/Images/CarRental/CarViews/ToyotaGrandia/Toyota-GL-Grandia.jpg" class="img-thumbnail ads-listing-img" />
        <a href="~/ads/toyota-hiace-gl-grandia/">
        </a>

        <div class="col-lg-3 ads-listing-side">
            <img src="~/Images/CarRental/CarViews/ToyotaInnova/Toyota-innova.png" class="img-thumbnail ads-listing-img" />
            <a href="~/ads/toyota-innova-d-4d/"></a>
        </div>*@
</div>


<div class="container">
    <h3><span class="badge">Services</span></h3>
    <a href="~/services/car-rental-with-driver/">
        <img src="~/Images/Ads/Services/Svc-CarRental-Drv.png" class="img-thumbnail ads-listing-img" title="Car Rental with Driver" />
    </a>
    <a href="~/services/car-rental-self-drive/">
        <img src="~/Images/Ads/Services/Svc-CarRental-SelfDrv.png" class="img-thumbnail ads-listing-img" title="Car Rental Self Drive" />
    </a>
    <a href="~/services/airport-transfer/">
        <img src="~/Images/Ads/Services/Svc-Airport-Pk.png" class="img-thumbnail ads-listing-img" title="Airport Pickup / Drop Off" />
    </a>
    <a href="~/services/davao-city-tour/">
        <img src="~/Images/Ads/Services/Svc-City-Tour.png" class="img-thumbnail ads-listing-img" title="Davao City Tour" />
    </a>
    <a href="~/services/country-side-tour/">
        <img src="~/Images/Ads/Services/Svc-CntrySd-Tour.png" class="img-thumbnail ads-listing-img" title="Davao Countryside Tour" />
    </a>
    <a href="~/services/samal-inland-tour">
        <img src="~/Images/Ads/Services/Svc-Sml-tour.png" class="img-thumbnail ads-listing-img" title="Samal Tour" />
    </a>

    @*<img src="~/Images/CarRental/CarViews/ToyotaAvanza/ToyotaAvanza.jpg" class="img-thumbnail ads-listing-img" alt="toyota gl grandia 2012" />
        <a href="~/ads/toyota-avanza-1-3e-at/">
        </a>*@

</div>



<div class="container">
    <div class="col-lg-8 ads-listing-container">
        <div class="col-sm-12 ads-listing-title-bar">
            <h3>Listing <span class="badge"> 10 </span></h3>
        </div>

        <!--New Listing-->
        <div class="col-sm-12 ads-listing-item">
            <h3 class="btn btn-success ads-listing-price">PHP 3,000</h3>
            <img src="~/Images/CarRental/CarViews/ToyotaRush/Toyota-Rush.png" class="img-thumbnail ads-listing-img" />
            <h4>
                <a href="~/ads/toyota-rush">
                    <b> Toyota Rush 2019 </b>
                </a>
            </h4>
            <h4 class="label label-default">Latest Offers</h4>
            <h4 class="label label-default">Toyota</h4>
            <h4 class="label label-default">MPV</h4>
            <hr style="margin:7px;" />
            <p>Toyota Rush 2019, 5 persons, w/ driver included.</p>
            <br />
        </div>
        <!--New Listing-->
        <div class="col-sm-12 ads-listing-item">
            <h3 class="btn btn-success ads-listing-price">PHP 3,000</h3>
            <img src="~/Images/CarRental/CarViews/innova2019/Toyota-Innova-2019.png" class="img-thumbnail ads-listing-img" />
            <h4>
                <a href="~/ads/toyota-innova-2019/">
                    <b> Toyota Innova 2019 </b>
                </a>
            </h4>
            <h4 class="label label-default">Latest Offers</h4>
            <h4 class="label label-default">Toyota</h4>
            <h4 class="label label-default">MPV</h4>
            <hr style="margin:7px;" />
            <p>Toyota Innova 2019, 5 persons, w/ driver included.</p>
            <br />
        </div>

        <!--New Listing-->
        <div class="col-sm-12 ads-listing-item">
            <h3 class="btn btn-success ads-listing-price">PHP 3,500</h3>
            <img src="~/Images/CarRental/CarViews/NissanPremium/Nissan-Premium.png" class="img-thumbnail ads-listing-img" />
            <h4>
                <a href="~/ads/nissan-urvan-premium/">
                    <b> Nissan Urvan Premium </b>
                </a>
            </h4>
            <h4 class="label label-default">Van</h4>
            <h4 class="label label-default">Nissan</h4>
            <hr style="margin:7px;" />
            <p>Nissan Urvan Premium, 14 persons, w/ driver included.</p>
            <br />
        </div>

        <!--New Listing-->
        <div class="col-sm-12 ads-listing-item">
            <h3 class="btn btn-success ads-listing-price">PHP 3,000</h3>
            <img src="~/Images/CarRental/CarViews/SuperGrandia/Toyota-Super-Grandia.png" class="img-thumbnail ads-listing-img" />

            <h4>
                <a href="~/ads/toyota-super-grandia/">
                    <b>
                        Toyota Super Grandia
                    </b>
                </a>
            </h4>
            <h4 class="label label-default">Van</h4>
            <h4 class="label label-default">Toyota</h4>
            <hr style="margin:7px;" />
            <p>Toyota Super Grandia, 10 persons, w/ driver included.</p>
            <br />
        </div>

        <div class="col-sm-12 ads-listing-item">
            <h3 class="btn btn-success ads-listing-price">PHP 2,500</h3>
            <img src="~/Images/CarRental/CarViews/HondaCity/HondaCity2018.png" class="img-thumbnail ads-listing-img" />

            <h4>
                <a href="~/ads/honda-city-automatic/">
                    <b>Honda City Automatic</b>
                </a>
            </h4>
            <h4 class="label label-default">Sedan</h4>
            <h4 class="label label-default">Honda</h4>
            <hr style="margin:7px;" />
            <p>Honda City 22018, Diesel, Milage: 1000, 5 persons driver, w/ or w/o driver included.</p>
            <br />
        </div>

        <div class="col-sm-12 ads-listing-item">

            <h3 class="btn btn-success ads-listing-price">PHP 3,000</h3>
            <img src="~/Images/CarRental/CarViews/FordEverest/Ford-Everest.png" class="img-thumbnail ads-listing-img" />
            <h4>
                <a href="~/ads/rent-a-car-suv-for-rent-davao-city/">
                    <b>Ford Everest 2.2L A/T 2016 All New!</b>
                </a>
            </h4>
            <h4 class="label label-default">Ford</h4>
            <h4 class="label label-default">Everest</h4>
            <h4 class="label label-default">SUV</h4>
            <hr style="margin:7px;" />
            <p>Ford Everest 2016, 2.2L Diesel, Milage: 1000, 8 persons, w/ or w/o driver included. </p>
        </div>

        <div class="col-sm-12 ads-listing-item">

            <h3 class="btn btn-success ads-listing-price">PHP 3,500</h3>
            <img src="~/Images/CarRental/CarViews/ToyotaGrandia/Toyota-GL-Grandia.jpg" class="img-thumbnail ads-listing-img" />
            <h4>
                <a href="~/ads/toyota-hiace-gl-grandia/">
                    <b>Toyota HiAce – GL Grandia</b>
                </a>
            </h4>
            <h4 class="label label-default">Toyota GL Grandia</h4>
            <h4 class="label label-default">Van</h4>
            <hr style="margin:7px;" />
            <p>Toyota GL Grandia 2013, Milage: 2000, 10 persons, w/ or w/o driver included. </p>
        </div>

        <div class="col-sm-12 ads-listing-item">

            <h3 class="btn btn-success ads-listing-price">PHP 3,000</h3>
            <img src="~/Images/CarRental/CarViews/ToyotaInnova/Toyota-innova.png" class="img-thumbnail ads-listing-img" />
            <h4>
                <a href="~/ads/toyota-innova-d-4d/">
                    <b>Toyota Innova D-4D</b>
                </a>
            </h4>
            <h4 class="label label-default">Toyota Innova</h4>
            <h4 class="label label-default">MPV</h4>
            <hr style="margin:7px;" />
            <p>Toyota Innova 2013, Milage: 40000, 7 seater, w/ or w/o driver included. </p>
        </div>

        <div class="col-sm-12 ads-listing-item">
            <h3 class="btn btn-success ads-listing-price">PHP 2,500</h3>
            <img src="~/Images/CarRental/CarViews/HondaCity2012/HondaCity2012.jpg" class="img-thumbnail ads-listing-img" alt="honda city 2012" />
            <h4>
                <a href="~/ads/car-for-rent-davao-city/">
                    <b>Car for Rent - Davao City</b>
                </a>
            </h4>
            <h4 class="label label-default">Sedan</h4>
            <h4 class="label label-default">Honda City</h4>
            <hr style="margin:7px;" />
            <p>Car for Rent Davao City. Honda City Automatic. w/ or w/o driver included. </p>
        </div>

        <div class="col-sm-12 ads-listing-item">
            <h3 class="btn btn-success ads-listing-price">PHP 2,500</h3>
            <img src="~/Images/CarRental/CarViews/SelfDrive/HondaCity2012 (2).jpg" class="img-thumbnail ads-listing-img" alt="honda city 2012" />
            <h4>
                <a href="~/ads/rent-a-car-davao-city-self-drive-2/">
                    <b>Car for rent – Self Drive</b>
                </a>
            </h4>
            <h4 class="label label-default">Sedan</h4>
            <h4 class="label label-default">Honda City</h4>
            <hr style="margin:7px;" />
            <p>Car for Rent Davao City. Honda City Automatic. Toyota Innova. Self drive on Davao City Area </p>
        </div>

        <div class="col-sm-12 ads-listing-item">
            <h3 class="btn btn-success ads-listing-price">PHP 3,000</h3>
            <img src="~/Images/CarRental/CarViews/ToyotaInnova/Toyota-innova.png" class="img-thumbnail ads-listing-img" alt="honda city 2012" />
            <h4>
                <a href="~/ads/minivan-and-sedan-rentals/">
                    <b>Minivan and Sedan Rentals</b>
                </a>
            </h4>
            <h4 class="label label-default">Toyota Innova</h4>
            <h4 class="label label-default">MPV</h4>
            <hr style="margin:7px;" />
            <p>Car for Rent Davao City.Toyota Innova Manual. Self drive on Davao City Area </p>
        </div>

        <div class="col-sm-12 ads-listing-item">
            <h3 class="btn btn-success ads-listing-price">PHP 2,500</h3>
            <img src="~/Images/CarRental/CarViews/HondaCity2012/HondaCityFront.jpg" class="img-thumbnail ads-listing-img" alt="honda city 2012" />
            <h4>
                <a href="~/ads/rent-a-car-davao-city-self-drive/">
                    <b>Davao rent a car (Sedan & MPV)</b>
                </a>
            </h4>
            <h4 class="label label-default">Sedan</h4>
            <h4 class="label label-default">MPV</h4>
            <hr style="margin:7px;" />
            <p>Car for Rent Davao City.Honda City Automatic. Self drive on Davao City Area </p>
        </div>

        <div class="col-sm-12 ads-listing-item">
            <h3 class="btn btn-success ads-listing-price">PHP 3,000</h3>
            <img src="~/Images/CarRental/CarViews/ToyotaAvanza/ToyotaAvanza.jpg" class="img-thumbnail ads-listing-img" alt="toyota gl grandia 2012" />
            <h4>
                <a href="~/ads/toyota-avanza-1-3e-at/">
                    <b>Cheap Car Rental Davao City, Toyota Avanza 1.3E AT</b>
                </a>
            </h4>
            <h4 class="label label-default">MPV</h4>
            <h4 class="label label-default">Toyota Avanza</h4>
            <hr style="margin:7px;" />
            <p>Car for Rent Davao City. Toyota Avanza 2013. Self drive on Davao City Area. Rental  w/ or w/o driver included. </p>
        </div>

        <div class="col-sm-12 ads-listing-item">
            <h3 class="btn btn-success ads-listing-price">PHP 3,500</h3>
            <img src="~/Images/CarRental/CarViews/VanRental/VanRental.jpg" class="img-thumbnail ads-listing-img" alt="toyota gl grandia" />
            <h4>
                <a href="~/ads/van-rental-davao-city/">
                    <b>Van Rental Davao City</b>
                </a>
            </h4>
            <h4 class="label label-default">Van</h4>
            <h4 class="label label-default">Toyota</h4>
            <hr style="margin:7px;" />
            <p>Van for Rent Davao City. Toyota gl grandia. Self drive on Davao City Area. Rental  w/ or w/o driver included. </p>
        </div>

        <div class="col-lg-12">
            <a href="~/ads/page/1/" class="btn btn-default">1</a>
            <a href="~/ads/page/2/" class="btn btn-default">2</a>
        </div>
    </div>

    <div class="col-lg-3 ads-listing-side">

        @{Html.RenderPartial("CarViews/TagsViewListing");}

        @{Html.RenderPartial("CarViews/PopularAdsView");}
    </div>
</div>


