
@{
    ViewBag.Title = "Listing";
}



<div class="jumbotron">
    <h1>Davao Car Rental Hub</h1>

    <h2><span class="badge">Featured</span></h2>
    <div class="container ">
        <div class="col-lg-4 col-xs-10 ads-listing-side">
            <img class="img-responsive ads-desc-img-box ads-listing-item" src="~/Images/CarRental/CarViews/FordEverest/Ford-Everest.png" width="250" />
        </div>
        <div class="col-lg-6 col-xs-10 ads-listing-side">
            Specification:
            <p>
                7 Seater SUV - comfortable ride. Latest Model. Very cold aircon.
            </p>

            @*<a href="" style="color:red;background-color:yellow;">
                   BOOK NOW!
                </a>*@

            <a class="btn btn-warning" href="https://realwheelsdavao.com/OnlineReservations/Form?tourCode=CR-SUV-19">
                BOOK NOW!
            </a>

            <br />
            <a class="btn btn-default" style="margin-bottom:5px;" href="tel:+63 926-733-5449"> Call Us: +63 926-733-5449 </a>
        </div>
    </div>
</div>


<div class="container" >
    <div class="col-lg-8 ads-listing-container">
       <div class="col-sm-12 ads-listing-title-bar" >
           <h3>Listing <span class="badge" > 6 </span></h3>
       </div>
        <!--Listing starts here-->
        <div class="col-sm-12 ads-listing-item">
            <h3 class="btn btn-success ads-listing-price">PHP 3,000</h3>
            <img src="~/Images/CarRental/CarViews/ToyotaInnova/ToyotaInnovaSilver.jpg" class="img-thumbnail ads-listing-img" alt="toyota gl grandia" />
            <h4>
                <a href="~/ads/innovacar-for-rent-davao-city/">
                    <b>Innova,Car for Rent Davao City</b>
                </a>
            </h4>
            <h4 class="label label-default">MPV</h4>
            <h4 class="label label-default">Toyota Innova</h4>
            <hr style="margin:7px;" />
            <p>MPV for Rent Davao City. Toyota Innova. Self drive on Davao City Area. Rental  w/ or w/o driver included. </p>
        </div>

        <div class="col-sm-12 ads-listing-item">
            <h3 class="btn btn-success ads-listing-price">PHP 3,000</h3>
            <img src="~/Images/CarRental/CarViews/FordEverest/Ford-Fiesta.jpg" class="img-thumbnail ads-listing-img" alt="Ford Fiesta" />
            <h4>
                <a href="~/ads/ford-fiesta-1-6l-sedan-2012/">
                    <b>Ford Fiesta 1.6L-Sedan 2012</b>
                </a>
            </h4>
            <h4 class="label label-default">Sedan</h4>
            <h4 class="label label-default">Ford Fiesta</h4>
            <hr style="margin:7px;" />
            <p>Sedan for Rent Davao City. Ford Fiesta 2012. Self drive on Davao City Area. Rental  w/ or w/o driver included. </p>
        </div>

        <div class="col-sm-12 ads-listing-item">
            <h3 class="btn btn-success ads-listing-price">PHP 3,000</h3>
            <img src="~/Images/CarRental/CarViews/ToyotaSelfDrive/ToyotaSelfDrive.jpg" class="img-thumbnail ads-listing-img" alt="Innova Self Drive" />
            <h4>
                <a href="~/ads/rent-a-car-davao-city-self-drive/">
                    <b>Rent a car davao city self drive</b>
                </a>
            </h4>
            <h4 class="label label-default">Innova</h4>
            <h4 class="label label-default">MPV</h4>
            <hr style="margin:7px;" />
            <p>MPV for Rent Davao City. Toyota Innova 2013. Self drive on Davao City Area. Rental  w/ or w/o driver included. </p>
        </div>

        <div class="col-sm-12 ads-listing-item">
            <h3 class="btn btn-success ads-listing-price">PHP 2,500</h3>
            <img src="~/Images/CarRental/CarViews/HondaCity/HondaCity2018.png" class="img-thumbnail ads-listing-img" alt="Honda City Self Drive" />
            <h4>
                <a href="~/ads/car-rental-honda-city-for-rent-self-drive/">
                    <b>Car Rental Honda City for rent Self Drive</b>
                </a>
            </h4>
            <h4 class="label label-default">Sedan</h4>
            <h4 class="label label-default">Honda City</h4>
            <hr style="margin:7px;" />
            <p>Sedan for Rent Davao City. Honda City. Self drive on Davao City Area. Rental  w/ or w/o driver included. </p>
        </div>

        <div class="col-sm-12 ads-listing-item">
            <h3 class="btn btn-success ads-listing-price">PHP 3,000</h3>
            <img src="~/Images/CarRental/CarViews/ToyotaFortuner/Fortuner.png" class="img-thumbnail ads-listing-img" alt="Toyota Fortuner" />
            <h4>
                <a href="~/ads/4x4-rental-suv-for-rent-davao/">
                    <b>4×4 rental SUV for rent Davao</b>
                </a>
            </h4>
            <h4 class="label label-default">SUV</h4>
            <h4 class="label label-default">Fortuner</h4>
            <hr style="margin:7px;" />
            <p>SUV for Rent Davao City. Ford Everest. Self drive on Davao City Area. Rental  w/ or w/o driver included. </p>
        </div>

        <div class="col-sm-12 ads-listing-item">
            <h3 class="btn btn-success ads-listing-price">PHP 3,500</h3>
            <img src="~/Images/CarRental/CarViews/Pickup/Estrada.jpg" class="img-thumbnail ads-listing-img" alt="Pickup" />
            <h4>
                <a href="~/ads/4x4-rental-pickup-for-rent-davao/">
                    <b>4×4 Rental Pickup for Rent Davao</b>
                </a>
            </h4>
            <h4 class="label label-default">Pickup</h4>
            <hr style="margin:7px;" />
            <p>Pickup for Rent Davao City Self drive on Davao City Area. Rental  w/ or w/o driver included. </p>
        </div>

        <!--services-->
        <div class="col-sm-12 ads-listing-item">
            <h3 class="btn btn-success ads-listing-price">PHP 2,500</h3>
            <img src="~/Images/Ads/Services/Svc-CarRental-Drv.png" class="img-thumbnail ads-listing-img" alt="car rental with driver" />
            <h4>
                <a href="~/services/car-rental-with-driver/">
                    <b>Car Rental w/ Driver</b>
                </a>
            </h4>
            <h4 class="label label-default">Services</h4>
            <hr style="margin:7px;" />
            <p>Car Rental service with Driver and Fuel </p>
        </div>

        <div class="col-sm-12 ads-listing-item">
            <h3 class="btn btn-success ads-listing-price">PHP 3,000</h3>
            <img src="~/Images/Ads/Services/Svc-CarRental-SelfDrv.png" class="img-thumbnail ads-listing-img" alt="car rental self drive" />
            <h4>
                <a href="~/services/car-rental-self-drive/">
                    <b>Car Rental Self Drive</b>
                </a>
            </h4>
            <h4 class="label label-default">Services</h4>
            <hr style="margin:7px;" />
            <p>Car Rental Self Drive Service </p>
        </div>

        <div class="col-sm-12 ads-listing-item">
            <h3 class="btn btn-success ads-listing-price">PHP 1,000</h3>
            <img src="~/Images/Ads/Services/Svc-Airport-Pk.png" class="img-thumbnail ads-listing-img" alt="car rental self drive" />
            <h4>
                <a href="~/services/airport-transfer/">
                    <b>Airport Transfer</b>
                </a>
            </h4>
            <h4 class="label label-default">Services</h4>
            <hr style="margin:7px;" />
            <p>Airport Transfer Car Rental Services </p>
        </div>

        <div class="col-sm-12 ads-listing-item">
            <h3 class="btn btn-success ads-listing-price">PHP 2,500</h3>
            <img src="~/Images/Ads/Services/Svc-City-Tour.png" class="img-thumbnail ads-listing-img" alt="car rental self drive" />
            <h4>
                <a href="~/services/davao-city-tour/">
                    <b>Davao City Tour</b>
                </a>
            </h4>
            <h4 class="label label-default">Services</h4>
            <hr style="margin:7px;" />
            <p>Davao City Tour Car Rental Services </p>
        </div>

        <div class="col-sm-12 ads-listing-item">
            <h3 class="btn btn-success ads-listing-price">PHP 3,000</h3>
            <img src="~/Images/Ads/Services/Svc-CntrySd-Tour.png" class="img-thumbnail ads-listing-img" alt="car rental self drive" />
            <h4>
                <a href="~/services/country-side-tour/">
                    <b>Davao Conutryside Tour</b>
                </a>
            </h4>
            <h4 class="label label-default">Services</h4>
            <hr style="margin:7px;" />
            <p>Davao Countryside Tour Car Rental Services </p>
        </div>


        <div class="col-sm-12 ads-listing-item">
            <h3 class="btn btn-success ads-listing-price">PHP 3,000</h3>
            <img src="~/Images/Ads/Services/Svc-Sml-tour.png" class="img-thumbnail ads-listing-img" alt="car rental self drive" />
            <h4>
                <a href="~/services/samal-inland-tour">
                    <b>Samal Inland Tour</b>
                </a>
            </h4>
            <h4 class="label label-default">Services</h4>
            <hr style="margin:7px;" />
            <p>Davao Samal Inland Tour Services </p>
        </div>

        <!--Listing paging here-->
        <div class="col-lg-12">
            <a href="~/ads/page/1/" class="btn btn-default">1</a>
            <a href="~/ads/page/2/" class="btn btn-default">2</a>
        </div>
    </div>
    <div class="col-lg-3 ads-listing-side">
        @{Html.RenderPartial("CarViews/TagsViewListing");}

        @{Html.RenderPartial("CarViews/PopularAdsView");}
    </div>
</div>


