body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



    /**
    * ads description
    **/
    
    .ads-desc-box{
        margin-right:20px;
        margin-bottom:30px;
        padding:20px 20px;
        max-width:700px;
        min-width:400px;
        border:1px solid lightgray; 
        box-shadow: 0px 0px 3px 1px lightgray; 
        border-radius:10px;
    }
    .ads-desc-img-box{
        border-radius:10px;
    }
    
    .ads-desc-img-box :hover{
       box-shadow: 0px 0px 5px 1px dodgerblue;
       transition-duration: 0.5s;
       cursor:pointer;
    }

    .ads-tech-details{
         margin-right:20px;
         margin-bottom:10px;
         border-radius:10px;
         padding:20px 40px;
         max-width:600px;
         min-width:300px;
         border:1px solid lightgray;
         box-shadow: 0px 0px 3px 1px lightgray;
    }
    .ads-tech-details > hr{
         margin-top:10px;
         margin-bottom:10px;
    }
    
    .ads-link{
         margin-right:20px;
         margin-bottom:10px;
         border-radius:10px;
         padding:10px 40px;
         max-width:600px;
         min-width:300px;
         border:1px solid lightgray;
         box-shadow: 0px 0px 3px 1px lightgray;
    }
    
    .ads-link > hr{
         margin-top:10px;
         margin-bottom:10px;
    }

    .ads-desc-carDesc{
        float: left;
        font-weight:bold;
    }
    .ads-desc-carPrice{
         float:right;
         font-size:22px;
         margin-bottom:5px;
    }

    .ads-desc-img-primary{
        width:100%;
        max-width:500px;
        min-width:250px;
        margin-bottom:10px;
    }


    .ads-desc-img-box-gallery{
        width:23%;max-width:150px;min-width:100px;
    }

    .ads-desc-tags > a {
        margin-bottom:3px;
    }

    /*Listing*/

    
    .ads-listing-container{
        min-width:500px;
        margin-right:10px;
    }

    .ads-listing-title-bar{
        padding:5px 20px; 
        border:1px solid lightgray;
        margin:5px;
        box-shadow: 0px 0px 3px 1px lightgray;
        border-radius:5px;
    }
    
    .ads-listing-item{
        border:1px solid lightgray;
        margin:10px;
        padding:10px;
        box-shadow: 0px 0px 3px 1px lightgray;
        border-radius:10px;
        min-width:300px;
    }
   
    .ads-listing-img{
        width:120px;height:100px;float:left;margin:10px;
        object-fit: fill;
    }
    .ads-listing-price{
        float:right;font-weight:bold;
    }
    
    .ads-listing-tech-details{
        border:1px solid lightgray;
        padding:20px 20px;
        margin-bottom:5px;
        box-shadow: 0px 0px 3px 1px lightgray;
        border-radius:10px;
    }
    
    .ads-listing-side{
        min-width:315px;
    }

    ads-listing-item-hr{
        margin: 5px;
    }
    
    ads-listing-item > h4 > a{
        font-weight:bold;
    }
    